html,
.vision,
#root {
  height: 100%;
}

.vision {
  background-color: #35383e;
  color: white;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  /* font-family: 'Asap', sans-serif; */
  /* font-family: 'Urbanist', sans-serif; */
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  margin: 0;
}

.App {
  display: flex;
  height: 100%;
}

.drawerItem {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  max-height: 36px;
}

.loginForm {
  padding: 0 25px;
}

.fields div {
  width: 100%;
  margin-top: 15px;
}

.formGroup div {
  margin-top: 5px;
}

.invalidInput,
.invalidInput:focus {
  border-color: red;
}

.validInput,
.validInput:focus {
  border-color: green;
}

.listQuizzes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
}

.listQuizzesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  height: 300px;
  min-width: 300px;
  width: 20%;
  border-radius: 15px !important;
}

.listJogos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
}

.listJogosItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  height: 300px;
  min-width: 300px;
  width: 20%;
  border-radius: 15px !important;
}

.cardHeader {
  width: 100%;
  color: white;
  background-color: #35383ed4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.cardContent {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
}

.cardContent img {
  height: 100%;
  width: 100%;
}

.cardActions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  background-color: #35383ed4;
}

.cardActions button {
  border-radius: 25px;
  border: none;
  width: 50%;
  color: white;
}

.cardActions button {
  cursor: pointer;
}

.cardActions button.play {
  background-color: #11e3119e;
}

.cardActions button.info {
  background-color: #5a5ac7fa;
}

.saveGameCreate {
  font-size: 22px;
  border: none;
  border-radius: 15px;
  width: 240px;
  color: white;
  background-color: #56a056;
  margin-top: 5px;
}

.listaSolicitacao div {
  min-width: 200px;
}

.listaSolicitacao .secondary {
  color: gray;
}

.solicitacoesActions {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.solicitacoesActions button {
  width: 100%;
  margin: 10px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 22px;
}

.solicitacoesActions button.accept {
  background-color: #56a056;
}

.solicitacoesActions button.decline {
  background-color: red;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pageNotFound .codigo {
  font-size: 300px;
}

.pageNotFound .texto {
  font-size: 50px;
}

.groupEsqueceuSenha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.paperEsqueceuSenha {
  width: 90%;
  max-width: 1000px;
  zoom: 1.2;
}

.paperEsqueceuSenha div {
  margin: 0;
}

button.verifyEmail {
  width: 100%;
  border: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #56a056;
  color: white;
}

button.verifyEmail:disabled {
  cursor: not-allowed;
  background-color: #56a05694;
}

div.confirmarRedefinicao {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button.confirmarRedefinicao {
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 30px;
  background-color: #5a5ac7fa;
  color: white;
}

button.confirmarRedefinicao:disabled {
  background-color: #5a5ac787;
  cursor: not-allowed;
}

.formFields div {
  padding: 5px;
}

.fieldEditButton {
  width: 100%;
}

.fieldEditButton button {
  border-radius: 6px;
  background-color: #5a5ac7fa;
  color: white;
  border: none;
  height: 33px;
  width: 100%;
}

.fieldEditSaveButton {
  width: 100%;
}

.fieldEditSaveButton button {
  border-radius: 6px;
  background-color: #56a056;
  color: white;
  border: none;
  height: 33px;
  width: 100%;
}

.fieldEditSaveButton button:disabled {
  cursor: not-allowed;
  background-color: #56a05694;
}

.redefinirSenha {
  width: 90%;
  max-width: 800px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  zoom: 1.2;
  margin-top: 10px;
}

.redefinirSenha button {
  border-radius: 6px;
  background-color: #5a5ac7fa;
  color: white;
  border: none;
  height: 33px;
  width: 100%;
}

.salvaNovaSenha {
  width: 100%;
}

.salvaNovaSenha button {
  border-radius: 6px;
  background-color: #56a056;
  color: white;
  border: none;
  height: 33px;
  width: 100%;
}

.salvaNovaSenha button:disabled {
  cursor: not-allowed;
  background-color: #56a05694;
}

.centralizado div {
  display: flex;
  justify-content: center;
}

button.botoesCriacaoQuiz {
  width: 100%;
  border-radius: 30px;
  border: none;
  height: 40px;
  color: white;
}

button.salvaQuizz {
  background-color: #56a056;
}

button.adicionaPergunta {
  background-color: #5a5ac7fa;
}
